html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

b {
  font-weight: 700;
}

#landing-page {
  position: relative;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  background-image: url("./LandingCSS/greg-rosenke-iZ4QZFbQ2S8-unsplash.jpg");
}
.wellcome-text {
  position: absolute;
  color: white;
  top: 45%;
  width: 100%;
  text-align: center;
  margin: 0;
  transform: scale(0.8);
}

ul.nav {
  position: sticky;
  top: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: black;
  text-align: center;
}
.nav > li {
  display: inline-block;
  margin: auto;
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.nav > li > a {
  text-decoration: none;
  padding: 1em 2em;
  display: inline-block;
  color: white;
  transition: 0.5s;
}

.nav > li > a:hover {
  background-color: teal;
}

.desktop {
  display: none !important;
}

#about-me {
  padding: 4em 0;
}

.content-perkenalan {
  font-size: 1.2em;
  width: 80%;
  max-width: 24em;
  margin: 1em auto;
  text-align: justify;
}
.section-introduction,
.section-education,
.section-working {
  text-align: center;
}

.section-education,
.section-working {
  display: inline-block;
  margin-top: 5em;
}

.img-icon {
  max-width: 12em;
  width: 100%;
}

#portofolio {
  width: 100%;
  padding: 2em 2em;
}

.title-portofolio,
.title-contact-us {
  text-decoration: underline;
  text-align: center;
}

.container {
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin-top: 2em;
}

.container2 {
  width: 100%;
  margin-top: 2em;
  overflow: hidden;
  text-align: center;
}

.a-portofolio {
  margin: 1em 2em;
  padding: 2em;
}
.img1,
.img2,
.img3,
.img4 {
  display: inline-block;
  vertical-align: middle;
}
.img-portofolio {
  max-width: 300px;
  display: inline-block;
  width: 90%;
  vertical-align: middle;
  margin: 2em 4em;
  margin-bottom: 2em;
  border-style: 1px solid salmon;
}

.img-portofolio:hover {
  transform: scale(1.1) translateY(20px);
  box-shadow: 2px 2px 10px black;
  /*filter: drop-shadow(5px 5px 10px rgb(54, 95, 228));
    -webkit-transform: scale(1.1) translateY(20px);
    -moz-transform: scale(1.1) translateY(20px);
    -ms-transform: scale(1.1) translateY(20px);
    -o-transform: scale(1.1) translateY(20px);
    -webkit-filter: drop-shadow(5px 5px 10px rgb(54, 95, 228));
    */
}

.form-contact-us {
  width: 100%;
  text-align: center;
}

.inputan {
  width: 85%;
  text-align: left;
  display: block;
  margin: 0 auto;
}

.inputan > label {
  display: block;
  font-size: 1.2em;
}

.inputan > input,
.inputan > textarea {
  width: 100%;
  margin: 0.5em 0;
  font-size: 1em;
}

.btn-kirim {
  width: 85%;
  margin: 1em 0;
  border: none;
  background-color: teal;
  color: white;
  font-size: 1em;
  padding: 0.5em 0;
}

.contact-icon {
  width: 50px;
  margin: 2em;
}

.contact-desktop {
  display: none;
}

.contact-icon-bundler {
  display: block;
}

.contact-info {
  text-align: center;
}

.contact-info > div {
  display: inline-block;
}

footer {
  text-align: center;
  margin-top: 2em;
  padding: 1.5em 0;
  color: white;
  background-color: black;
}

@media only screen and (min-width: 600px) {
  .non-desktop {
    display: none;
  }
  .desktop {
    display: block !important;
  }

  li.nav-icon {
    padding: 0;
    width: 45px;
    float: left;
    margin: 0.3em 1em;
  }
  .nav-icon > img {
    width: 100%;
  }
  ul.nav {
    text-align: right;
  }

  .section-working,
  .section-education {
    width: 49.5%;
    vertical-align: top;
  }

  .form-contact-us,
  .contact-info {
    width: 49.5%;
    display: inline-block;
    vertical-align: top;
  }

  hr {
    max-width: 500px;
    margin: 0 auto;
  }

  #contact-us {
    vertical-align: top;
  }

  .contact-desktop {
    display: inline-block;
    vertical-align: middle;
  }

  .contact-icon-bundler {
    display: inline-block;
    min-width: 300px;
    text-decoration: none;
    color: black;
  }

  .contact-icon {
    display: inline-block;
    vertical-align: middle;
  }

  .contact-info > div {
    display: block;
  }
}
